:root {
    --yellow: #f5c16e;
    --orange: #f5956e;
    --purple: #af8cf4;
    --blue: #01ccf5;
    --green: #dbe58a;
}




.yellow {
    background: var(--yellow);
}

.orange {
    background: var(--orange);
}

.purple {
    background: var(--purple);
}

.blue {
    background: var(--blue);
}

.green {
    background: var(--green);
}

h1 {
    margin: 0;
}

p {
    margin: 0;
}


