body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    display: flex;
    overflow-x: hidden;
}

/* Sidebar
=====================*/
.sidebar {
    min-width: 100px;
    min-height: 100vh;
    max-height: 100%;
    border-right: 1px solid rgb(208, 208, 208);
}

.logo {
    padding-top: 20px;
    text-align: center;
}

.add {
    margin: 80px auto 0;
    width: 36px;
    height: 36px;
    border-radius: 30px;
    background: #000;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.add::after,
.add::before {
    content: '';
    width: 16px;
    height: 2px;
    background: #fff;
    display: block;
    border-radius: 1px;
    position: absolute;
}

.add::after {
    transform: rotate(90deg);
}

.active {
    animation: addActive 0.5s ease;
}

@keyframes addActive {
    0% {

    }

    50% {
        transform: rotate(360deg)scale(0.8);
        margin-top: 60px;
    }
    100% {
        transform: rotate(720deg)scale(1);

    }
}

.color__selection {
    position: relative;
    opacity: 0;
    transition: opacity .5s;
}

.color__active {
    opacity: 1;
}

.color {
    width: 20px;
    height: 20px;
    background: #000;
    border-radius: 20px;
    margin: 20px auto 0;
    position: relative;
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.2);
}

.color:hover {
    transform: scale(1.2);
}

/* Intro
=====================*/
.intro {
    padding: 30px;
}

.title {
    font-size: 56px;
    margin-left: 12px;
    margin-bottom: 15px;
}


/* List
=====================*/
.block {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    min-width: 1300px;

}

.list {
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.2);
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
}

.list__inner {
    width: 220px;
    height: 220px;
    position: relative;
}

.list:hover {
    cursor: pointer;
}


.list--text {
    height: 80%;
    width: 100%;
    border: 0;
    font-size: 18px;
    background: transparent;
    resize: none; /* Запрещаем изменять размер */
    outline: none;  /* удаляет обводку в браузерах хром(желтая) и сафари(синяя) */
}

.text--doctupe {
    pointer-events: none;
}

.list__footer {
    width: 100%;
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.data {
    font-weight: 200;
    height: 20px;
}

.list__btn {
    width: 35px;
    height: 35px;
    border-radius: 20px;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    opacity: 0;
    transition: opacity .2s;
}

.list:hover .list__btn {
    pointer-events: auto;
    opacity: 1;
}
.list__btn img {
    width: 13px;
}

.list__btn:hover {
    transform: scale(1.1);
}

.editing__inner {
    width: 500px;
    height: 400px;
    transition: 1s;
}

.editing {
    position: absolute;
    left: 50%;
    margin-left: -250px;
    top: 50%;
    margin-top: -200px;
}